---
title: IPSP PHP SDK
description: Flexible SDK that covers e-commerce for businesses of all types and support popular CMS modules for fast integration in existing infrastructure.
layout: default
fluid: true
---

<div class="section content">
<div class="container">

<h1>IPSP PHP SDK</h1>

<p class="lead">Free and open-source software development kit written in PHP and distributed under the MIT License.</p>

<p class="lead">IPSP PHP SDK is a wrapper of <a rel="nofollow" target="_blank" href="https://fondy.eu/?rel=ipsp-php.com">Fondy</a> payment protocol REST API and covers e-commerce for businesses of all types and
support popular CMS modules for fast integration in existing software architecture.</p>

</div>
</div>

<div class="section content getting-started">
<div class="container">

<h2 class="h1 text-center">Create Free Merchant Account</h2>


<p class="text-center">
<a href="javascript:void(0)" class="btn block social facebook wide" control="social.login" data-type="facebook">
Continue with <strong>Facebook</strong>
</a>
</p>
<p class="text-center">
<a href="javascript:void(0)" class="btn block social google wide" control="social.login" data-type="google">
Continue with <strong>Google</strong>
</a>
</p>
<p class="text-center">
<a href="javascript:void(0)" class="btn block social linkedin wide" control="social.login" data-type="linkedin">
Continue with <strong>LinkedIn</strong>
</a>
</p>

<p><img src="/assets/images/mportal.png" class="rounded"></p>


</div>
</div>

<div class="section content">
<div class="container">

<h2 class="text-center h1">How Does it Work?</h2>

<p>Payment Service Providers partner with Acquiring Banks to offer Merchants the capability to accept payments.
Payment Service Providers often offer services in addition to processing transactions.</p>

<p>These services include Payment Card Industry and Data Security Standard (PCI) compliance, fraud protection and the
ability to process different currencies and translate different languages.</p>

<blockquote>
<h3>Payment Service Provider</h3>
A payment service provider (PSP) offers shops online services for accepting electronic payments by
a variety of payment methods including credit card, bank-based payments such as direct debit, bank
transfer, and real-time bank transfer based on online banking. Typically, they use a software as a service
model and form a single payment gateway for their clients (merchants) to multiple payment methods.
<a href="https://en.wikipedia.org/wiki/Payment_service_provider" rel="nofollow" target="_blank">
read more
</a>
</blockquote>

<p class="text-center">
    <img src="https://portal.fondy.eu/static/v1/img/docs/api-v1.0/schema_redirect_en.png" alt="Fondy schema redirect">
</p>

</div>
</div>


<div class="section content getting-started">
    <div class="container">
        <h2 class="text-center h1">Need Checkout Preview?</h2>
        <p class="text-center">
            <img class="rounded center" src="https://camo.githubusercontent.com/63f4b3793e94ecc71bbcfb0157e3a193e414cc45/68747470733a2f2f692e696d6775722e636f6d2f37705a597a66562e706e67" alt="Fondy schema redirect">
        </p>
        <p class="text-center">
            <a href="https://api.ipsp-php.com/" class="btn warning">Open <strong>IPSP PHP SDK</strong> Sandbox</a>
        </p>
    </div>
</div>

<div class="section content">
<div class="container">

<h2 class="text-center h1">How make a quick checkout URL for a specific product?</h2>

{% highlight php %}
<?php
require_once 'vendor/autoload.php';
define('MERCHANT_ID' , 1396424 );
define('MERCHANT_PASSWORD' , 'test' );
define('IPSP_GATEWAY' ,  'api.fondy.eu' );
$client = new Ipsp_Client( MERCHANT_ID , MERCHANT_PASSWORD, IPSP_GATEWAY );
$ipsp   = new Ipsp_Api( $client );
$data = $ipsp->call('checkout',array(
  'order_id'    => sprintf('ipsp-php-order-%s',rand(1,9999999)),
  'order_desc'  => 'Product description',
  'currency'    => $ipsp::USD ,
  'amount'      => 2000, // 20 USD
  'response_url'=> sprintf('http://shop.example.com/checkout/result')
));
$data->redirectToCheckout();
{% endhighlight %}

</div>
</div>

<div class="section content">
<div class="container">

<h2 class="text-center h1"><a href="/blog/">Blog Articles</a></h2>

<div class="blog-list">
{% for post in site.posts limit: 5 %}
{% include blog.entry.html %}
{% endfor %}
</div>

</div>
</div>

<div class="section content">
<div class="container">

<h2 class="text-center h1">Project Sections</h2>

<nav class="cards section">
{% include navigation.html base_url="/" max_depth=2 %}
</nav>


<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://ipsp-php.com/",
  "logo": "https://ipsp-php.com/assets/images/brand.png",
  "contactPoint": [
    { 
      "@type": "ContactPoint",
      "telephone": "+38-093-925-7212",
      "contactType": "technical support"
    }
  ]
}
</script>

<script type="application/ld+json">
{
  "@context":"http://schema.org",
  "@type":"ItemList",
  "itemListElement":[{% for post in site.posts limit: 5 %}
    {
      "@type":"ListItem",
      "position":{{forloop.index}},
      "url":"{{ post.url | prepend: site.url }}"
    }{% if forloop.last %}{% else %},{% endif %}{% endfor %}
  ]
}
</script>

</div>
</div>

<div class="section content">
<div class="container">

<h2 class="text-center h1">Send Feedback</h2>

<form method="POST" class="form" action="https://formspree.io/stepan@kosatyi.com">
<input type="hidden" name="_next" value="{{site.url}}">
<div class="form-group">
<input type="email" class="form-control input-lg" name="email" placeholder="Your email">
</div>
<div class="form-group">
<input type="text" class="form-control input-lg" name="_subject" placeholder="Subject">
</div>
<div class="form-group">
<textarea name="message" class="form-control input-lg ui-textarea-resize" placeholder="Your message" style="min-height: 80px;"></textarea>
</div>
<div class="form-group text-center">
<button type="submit" class="btn success">Send Feedback</button>
</div>
</form>

</div>
</div>

<div class="section content secure">
<div class="container">
<img src="https://fondy.ua/wp-content/themes/Fondy_UA/img/pages/marketing-info/2015x1000_color.png">
<img src="https://fondy.ua/wp-content/themes/Fondy_UA/img/pages/marketing-info/visa-logo-new.png">
<img src="https://fondy.ua/wp-content/themes/Fondy_UA/img/pages/marketing-info/verified-by-visa.png">
<img src="https://fondy.ua/wp-content/themes/Fondy_UA/img/pages/marketing-info/mastercard_logo1.svg">
<img src="https://fondy.ua/wp-content/themes/Fondy_UA/img/pages/marketing-info/mastercard-securecode.png">
<img src="https://fondy.ua/wp-content/themes/Fondy_UA/img/pages/marketing-info/pcidss_logo.svg">
</div>
</div>

