<div class="github-button-panel">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <div>
        <a class="github-button" href="https://github.com/kosatyi"
           data-size="large"
           data-show-count="true"
           aria-label="Follow @kosatyi on GitHub">Follow @kosatyi</a>
    </div>
    <div>
        <a class="github-button" href="https://github.com/kosatyi/ipsp-php/subscription"
           data-icon="octicon-eye"
           data-size="large" data-show-count="true"
           aria-label="Watch kosatyi/ipsp-php on GitHub">Watch</a>
    </div>
    <div>
        <a class="github-button" href="https://github.com/kosatyi/ipsp-php/fork"
           data-icon="octicon-repo-forked"
           data-size="large" data-show-count="true"
           aria-label="Fork kosatyi/ipsp-php on GitHub">Fork</a>
    </div>
    <div>
        <a class="github-button" href="https://github.com/kosatyi/ipsp-php"
           data-size="large" data-show-count="true"
           data-icon="octicon-star"
           aria-label="Star kosatyi/ipsp-php on GitHub">Star</a>
    </div>
    <div>
        <a class="github-button" href="https://github.com/kosatyi/ipsp-php/issues"
           data-size="large" data-show-count="true"
           data-icon="octicon-issue-opened"
           aria-label="Issue kosatyi/ipsp-php on GitHub">Issue</a>
    </div>
</div>