{% for script in site.javascript %}
<script defer="defer" src="{{script}}"></script>
{% endfor %}

<noscript id="deferred-styles">
{% for style in site.additional_styles %}
<link rel="stylesheet" type="text/css" href="{{style}}"/>
{% endfor %}
</noscript>

<script>
    var loadDeferredStyles = function() {
        var addStylesNode  = document.getElementById("deferred-styles");
        var replacement    = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement);
        addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);
</script>