{% if paginator.total_pages > 1 %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if paginator.previous_page %}
        <li class="page-item">
            <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous</a>
        </li>
        {% endif %}
        {% for page in (1..paginator.total_pages) %}
        <li class="page-item">
            {% if page == paginator.page %}
            <a class="page-link" href="#">{{ page }}</a>
            {% elsif page == 1 %}
            <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            {% else %}
            <a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
        </li>
        {% endfor %}
        {% if paginator.next_page %}
        <li class="page-item">
        <a class="page-link"  href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}