@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
@import 'source/normalize';
@import 'source/highlight';

$font-weight-bold: 700;
$font-weight-normal: 400;
$grid-gutter-width: 1rem;

$brand-primary:#155799;
$brand-success:#159957;

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}

a {
  color: #1e6bb8;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }
  + .btn {
    margin-left: 1rem;
  }
  @media screen and (min-width: 64em) {
    padding: 0.75rem 1rem;
  }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }
  @media screen and (max-width: 42em) {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;
    + .btn{
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.container{
  max-width:64rem;
  margin:0 auto;
}


.page-sidebar{
  position: fixed;
  width: 250px;
  background-color:#fff;
  z-index:10;
  left: -250px;
  bottom: 0;
  top: 0;
  z-index: 20;
  transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  left: -250px;
  &-toggle{
    display:block;
    position:absolute;
    left:100%;
    top:0;
    line-height:0;
    margin:10px;
    padding:10px;
    border-radius:100%;
    transition: all 218ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color:rgba(0,0,0,0.2);
    #lines{
      fill:#fff;
    }
  }
  @media screen and (min-width: 64em) {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    left: 0px;
    &-toggle{
      display:none;
    }
  }
}

.page-menu{
  ul {
    padding: 0;
    margin: 0;
    ul{
      display:none;
    }
  }
  li {
    a {
      font-weight: $font-weight-bold;
      position: relative;
      text-decoration:none;
      display: block;
      padding: 0.5rem $grid-gutter-width;
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
      &.active {
        &:hover, & {
          background-color: rgba(0, 0, 0, 0.02);
        }
        &:before {
          content: '';
          position: absolute;
          width: 5px;
          background-color: $brand-primary;
          top: 0;
          bottom: 0;
          left: 0;
        }
        + ul {
          display:block;
        }
      }
    }
    &.separator {
      height: 1px;
      font-size: 0;
      padding: 0;
      margin: 5px 0;
      background-color: rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 2;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.02);
    }
    ul {
      a {
        font-weight: $font-weight-normal;
        padding-left: $grid-gutter-width * 2;
        font-size:0.9rem;
        &.active:before {
          background-color: lighten($brand-primary, 20%);
        }
      }
      ul {
        a {
          font-weight: $font-weight-normal;
          padding-left: $grid-gutter-width * 3;
          &.active:before {
            background-color: lighten($brand-primary, 40%);
          }
        }
      }
    }
  }
}

.page-wrapper{
  margin-left:0;
  transition: margin-left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 64em) {
    margin-left:250px;
  }
}

.sidebar-show{
  .page-sidebar{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    left: 0;
    &-toggle{
      z-index:0;
      background-color:#fff;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      #lines{
        fill:$brand-primary;
      }
    }
  }
  .page-wrapper{
    @media screen and (min-width: 64em) {
      margin-left:250px;
    }
  }
}

.page-wrapper{

}

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  .container{
    @media screen and (min-width: 64em) {
      padding: 5rem 2rem;
    }
    @media screen and (min-width: 42em) and (max-width: 64em) {
      padding: 3rem 2rem;
    }
    @media screen and (max-width: 42em) {
      padding: 1rem;
    }
  }

  :last-child{
    margin-bottom:0;
  }
}

.project-name {
  margin-top: 0;
  margin-bottom: 1rem;
  text-shadow:0px 2px 2px rgba(0,0,0,0.2);
  a{
    color:#fff;
    text-decoration: none;
  }
  @media screen and (min-width: 64em) {
    font-size: 3.25rem;
  }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    font-size: 2.25rem;
  }
  @media screen and (max-width: 42em) {
    font-size: 1.75rem;
  }
}

.project-tagline {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: normal;
  opacity: 0.7;
  @media screen and (min-width: 64em) {
    font-size: 1.25rem;
  }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    font-size: 1.15rem;
  }
  @media screen and (max-width: 42em) {
    font-size: 1rem;
    margin-bottom:1rem;
  }
}

.page-content {
  word-wrap: break-word;
  .container{
    overflow:hidden;
    padding: 1rem 2rem;
    @media screen and (max-width: 42em) {
      padding: 0rem 1rem;
    }
  }
  img {
    max-width: 100%;
  }
  h1,h2,h3,h4,h5,h6{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #155799;
  }
  p{
    margin-bottom: 1em;
  }
  code{
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: #567482;
    background-color: #f3f6fa;
    border-radius: 0.3rem;
  }
  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #567482;
    word-wrap: normal;
    background-color: #f3f6fa;
    border: solid 1px #dce6f0;
    border-radius: 0.3rem;
  }
  pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
  }
  .highlight {
    margin-bottom: 1rem;
  }
  .highlight pre {
    margin-bottom: 0;
    word-break: normal;
  }
  .highlight pre, pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code, pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
    &:before,&:after{
      content: normal;
    }
  }
  ul, ol {
    margin-top: 0;
  }
  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid #dce6f0;
  }
  blockquote > :first-child {
    margin-top: 0;
  }
  blockquote > :last-child {
    margin-bottom: 0;
  }
  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    -webkit-overflow-scrolling: touch;
  }
  table th {
    font-weight: bold;
  }
  table th, table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec;
  }
  dl {
    padding: 0;
  }
  dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
  dl dd {
    padding: 0;
    margin-bottom: 1rem;
  }
  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: #eff0f1;
    border: 0;
  }
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1;
  @media screen and (min-width: 64em) {
    font-size: 1rem;
  }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    font-size: 1rem;
  }
  @media screen and (max-width: 42em) {
    font-size: 0.9rem;
  }
}


.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: #819198;
}
