@import 'source/variables';

table.details {
  font-size:1rem;
  tr{
    td{
      border-width:0 0 1px 0;
      vertical-align: top;
    }
    th{
      border-width:0 0 1px 0;
      color:@brand-success;
      border-color:lighten(@brand-success,10%);
      text-align:left;
    }
  }
}