/* line 1, ../../../_sass/source/menubars.scss */
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

/* line 17, ../../../_sass/source/menubars.scss */
#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* line 36, ../../../_sass/source/menubars.scss */
#nav-icon1 span:nth-child(1) {
  top: 0px;
}

/* line 40, ../../../_sass/source/menubars.scss */
#nav-icon1 span:nth-child(2) {
  top: 18px;
}

/* line 44, ../../../_sass/source/menubars.scss */
#nav-icon1 span:nth-child(3) {
  top: 36px;
}

/* line 48, ../../../_sass/source/menubars.scss */
#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* line 56, ../../../_sass/source/menubars.scss */
#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

/* line 61, ../../../_sass/source/menubars.scss */
#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 2 */
/* line 74, ../../../_sass/source/menubars.scss */
#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* line 91, ../../../_sass/source/menubars.scss */
#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

/* line 96, ../../../_sass/source/menubars.scss */
#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

/* line 101, ../../../_sass/source/menubars.scss */
#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

/* line 105, ../../../_sass/source/menubars.scss */
#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

/* line 109, ../../../_sass/source/menubars.scss */
#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

/* line 113, ../../../_sass/source/menubars.scss */
#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 120, ../../../_sass/source/menubars.scss */
#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 127, ../../../_sass/source/menubars.scss */
#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

/* line 132, ../../../_sass/source/menubars.scss */
#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

/* line 137, ../../../_sass/source/menubars.scss */
#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

/* line 142, ../../../_sass/source/menubars.scss */
#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

/* line 147, ../../../_sass/source/menubars.scss */
#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

/* line 152, ../../../_sass/source/menubars.scss */
#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

/* Icon 3 */
/* line 159, ../../../_sass/source/menubars.scss */
#nav-icon3 span:nth-child(1) {
  top: 0px;
}

/* line 163, ../../../_sass/source/menubars.scss */
#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 18px;
}

/* line 167, ../../../_sass/source/menubars.scss */
#nav-icon3 span:nth-child(4) {
  top: 36px;
}

/* line 171, ../../../_sass/source/menubars.scss */
#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* line 177, ../../../_sass/source/menubars.scss */
#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 184, ../../../_sass/source/menubars.scss */
#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 191, ../../../_sass/source/menubars.scss */
#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */
/* line 202, ../../../_sass/source/menubars.scss */
#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

/* line 210, ../../../_sass/source/menubars.scss */
#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

/* line 218, ../../../_sass/source/menubars.scss */
#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

/* line 226, ../../../_sass/source/menubars.scss */
#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

/* line 235, ../../../_sass/source/menubars.scss */
#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

/* line 240, ../../../_sass/source/menubars.scss */
#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}
