<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title | defaults: Home }} - {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
</head>
<body>
<main class="page-wrapper">
    <header class="page-header">
        <div class="container">
            <h1 class="project-name"><a href="{{site.baseurl}}/">{{ site.title }}</a></h1>
            <h2 class="project-tagline">{{ site.tagline }}</h2>
            <a href="{{ site.buttons.github }}" class="btn">View on GitHub</a>
            <a href="{{ site.buttons.zip }}" class="btn">Download .zip</a>
            <a href="{{ site.buttons.tar }}" class="btn">Download .tar.gz</a>
        </div>
    </header>
    <section class="page-content">
        <div class="container">
            {{ content }}
        </div>
    </section>
</main>
<aside class="page-sidebar">
    <a href="#" class="page-sidebar-toggle">
        {% include menu.svg %}
    </a>
    <nav class="page-menu">
        <ul>
            <li><a href="{{site.baseurl}}/" data-rel="^{{site.baseurl}}$">Home</a></li>
        </ul>
        {% include navigation.html max_depth=5 %}
    </nav>
</aside>
<script async="true" src="{{site.baseurl}}/assets/js/main.js"></script>
</body>
</html>
