<div class="widget user" control="signup">
    <div class="panel">
        <div class="close">
            &times;
        </div>
        <div class="content">
            <div class="loader">
                <img src="/assets/images/load.svg">
            </div>
        </div>
    </div>
    <a href="javascript:void(0)" class="button user">
        <i class="fa fa-user"></i>
    </a>
</div>